@charset "UTF-8";
/*** Styles généraux ***/
.neumorphic-shadow-outer-big, .bloc-aide, button.etape_modif.on, .btn.etape_modif.on, select.etape_modif.on, button, .btn, select {
  box-shadow: -8px -8px 15px 0 #FAFBFF, 8px 8px 15px 0 #ABB1B7;
}

.neumorphic-shadow-outer-medium, .rightnav > div {
  box-shadow: -5px -5px 15px 0 #FFFFFF, 5px 5px 15px 0 #ABB1B7;
}

.neumorphic-shadow-outer-small, .leaflet-touch .leaflet-bar, .leaflet-bottom .legend_carto, .btn-thematique, .logo_auteur, .choix_picto .item_picto:hover, [type=radio]:checked + label:before,
[type=radio]:not(:checked) + label:before, button:active, .btn:active, select:active, button:hover, .btn:hover, select:hover {
  box-shadow: -1px -1px 6px 0 #FFFFFF, 1px 1px 6px 0 #ABB1B7;
}

.neumorphic-shadow-inner, .box-indicateur .box-info, textarea.form-control .box-info, #list_indicateurs .list .box-info, #list_utilisateurs .list .box-info, #list_biblio .list .box-info, #list_selected .list .box-info, .box-indicateur, textarea.form-control, #list_indicateurs .list, #list_utilisateurs .list, #list_biblio .list, #list_selected .list, .logo_auteur div, .formulaire_creerindicateur .liste_mots, .formulaire_modifierindicateur .liste_mots, input.text, input[type=text], input.password, input[type=password], input.mail, input[type=mail], .form-control.text, .form-control[type=text], .form-control.password, .form-control[type=password], .form-control.mail, .form-control[type=mail] {
  box-shadow: inset -3px -3px 8px 0 #FAFBFF, inset 3px 3px 8px 0 #ABB1B7;
}

.shadow-outer-small, .box-actions, [type=radio].representation:checked + label, .checkbox-slider input + span::before, .checkbox-slider--a input + span::before, .checkbox-slider--a-rounded input + span::before, .checkbox-slider--b input + span::before, .checkbox-slider--b-flat input + span::before, .checkbox-slider--c input + span::before, .checkbox-slider--c-weight input + span::before, .checkbox-slider--default input + span::before, .ui-slider-horizontal .ui-slider-handle {
  box-shadow: 3px 3px 8px 0 #ABB1B7;
}

.shadow-btn-rond, .navbar-light .navbar-toggler, .btn-rond, select.custom-select {
  box-shadow: 1px 1px 6px 0 #ABB1B7;
}

.neumorphic-fond-blanc, .box-actions, .leaflet-touch .leaflet-bar, .leaflet-bottom .legend_carto, .btn-thematique, .box-indicateur .box-info, textarea.form-control .box-info, #list_indicateurs .list .box-info, #list_utilisateurs .list .box-info, #list_biblio .list .box-info, #list_selected .list .box-info, .choix_picto .item_picto:hover, [type=radio]:not(:checked) + label:after, .ui-slider-horizontal .ui-slider-handle, button, .btn, select {
  background: #EFF0F3;
  background-image: linear-gradient(-42deg, #e9ebef, #f5f5f7);
}

.neumorphic-fond-fonce, .box-actions a:hover, .box-actions a.oui, [type=radio].representation:checked + label, [type=radio]:checked + label:before, .checkbox-slider--b input:checked + span::before, .checkbox-slider--b-flat input:checked + span::before {
  background-image: linear-gradient(-42deg, #546068, #606d76);
}

:hover, :focus, :active {
  outline: 0;
}

svg {
  pointer-events: none;
}

.tooltip {
  line-height: 1;
}

.fondrose {
  background: #E24C6A;
}

.texterose {
  color: #E24C6A;
}

.fondgris {
  background: #6B777E;
}

button, .btn, select {
  border: 0;
  color: #5B6870;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: none;
}
button:hover, .btn:hover, select:hover {
  color: #5B6870;
}
button.gris, .btn.gris, select.gris {
  background: #6B777E;
}
button.gris.on, .btn.gris.on, select.gris.on {
  background: #8B949B;
}
button.rose, .btn.rose, select.rose {
  background: #E24C6A;
}
button.vert, .btn.vert, select.vert {
  background: #A0B948;
  color: white;
}
button.violet, .btn.violet, select.violet {
  background: #A269A4;
  color: white;
}
button.jaune, .btn.jaune, select.jaune {
  background: #F4C84E;
}
button.violet, .btn.violet, select.violet {
  background: #A269A4;
}
button.gris, button.rose, .btn.gris, .btn.rose, select.gris, select.rose {
  color: white;
}
button.etape_modif.on, .btn.etape_modif.on, select.etape_modif.on {
  cursor: default;
}
button.etape_modif.on h3, .btn.etape_modif.on h3, select.etape_modif.on h3 {
  font-size: 0.9rem;
}
button.etape_modif.on svg, button.etape_modif.on .cls-1, .btn.etape_modif.on svg, .btn.etape_modif.on .cls-1, select.etape_modif.on svg, select.etape_modif.on .cls-1 {
  fill: #EFF0F3;
}

select.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #EFF0F3;
}

.btn-rond {
  border-radius: 100%;
  padding: 0.5rem;
}
.btn-rond .cls-1 {
  stroke: #6B777E;
  fill: #6B777E;
}
.btn-rond.vert .cls-1, .btn-rond.rose .cls-1, .btn-rond.jaune .cls-1, .btn-rond.violet .cls-1, .btn-rond.gris .cls-1 {
  stroke: white;
  fill: white;
}
.btn-rond.vert:hover, .btn-rond.rose:hover, .btn-rond.jaune:hover, .btn-rond.violet:hover, .btn-rond.gris:hover {
  background: white;
}
.btn-rond:hover.vert .cls-1 {
  stroke: #A0B948;
  fill: #A0B948;
}
.btn-rond:hover.rose .cls-1 {
  stroke: #E24C6A;
  fill: #E24C6A;
}
.btn-rond:hover.jaune .cls-1 {
  stroke: #F4C84E;
  fill: #F4C84E;
}
.btn-rond:hover.violet .cls-1 {
  stroke: #A269A4;
  fill: #A269A4;
}
.btn-rond:hover.gris .cls-1 {
  stroke: #6B777E;
  fill: #6B777E;
}
.btn-rond svg {
  width: 24px;
  height: 24px;
}

input, .form-control {
  color: #5B6870;
  border: 0;
  background: #EFF0F3;
}
input::placeholder, .form-control::placeholder {
  color: #ABB1B7;
}
input[type=text].palette, .form-control[type=text].palette {
  border-radius: 47px;
  box-shadow: none;
  width: 4.2rem;
  height: 2rem;
  padding-left: 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.huebee {
  z-index: 10;
}

.form-control-sm {
  height: calc(1rem + 24px);
  padding: 0.5rem 1.5rem;
}

.cacher, #spip-admin, .topnav .jaune, .none-js, .sourceup, .joindre_mediatheque__new, .joindre_distant__new, #list_biblio .remove, #list_selected .add, #pass_securise {
  display: none !important;
}

.separateur1 {
  border: 1px solid rgba(255, 255, 255, 0.56);
  box-shadow: -2px -2px 7px 0 #FFFFFF;
}

.separateur2 {
  border-top: 1px solid rgba(187, 192, 197, 0.55);
  border-bottom: 0;
  box-shadow: 2px 2px 5px 0 #FFFFFF;
}

h1 svg {
  height: 4rem;
  width: 4rem;
}
h1 .cls-1, h1 .cls-3 {
  fill: #E24C6A;
}
h1.vert .cls-1, h1.vert .cls-3 {
  fill: #A0B948;
}
h1.violet .cls-1, h1.violet .cls-3 {
  fill: #A269A4;
}

/*** Menus de navigation ***/
.nav-artaclim .ariaformprop {
  display: inline-block;
}

.topnav {
  background: #EFF0F3;
}

.rightnav {
  left: auto;
  bottom: 0;
}
.rightnav > div {
  width: 4rem;
  border-radius: 25.5px 0 0 25.5px;
}
.rightnav .aide a {
  color: white;
  font-size: 24px;
  line-height: 1;
}
.rightnav .aide a:hover {
  text-decoration: none;
}
.rightnav .menu {
  height: 100%;
}
.rightnav .menu svg {
  height: 34px;
}
.rightnav .menu .cls-1, .rightnav .menu .cls-3, .rightnav .menu svg, .rightnav .menu svg g {
  fill: #EFF0F3 !important;
}
.rightnav .menu a {
  border-bottom: 1px solid #6B777E;
  width: 12rem;
  color: #EFF0F3;
  font-size: 0.8rem;
  line-height: 1;
}
.rightnav .menu a:hover, .rightnav .menu a.on {
  background: #EFF0F3;
  color: #E24C6A;
}
.rightnav .menu a:hover .cls-1, .rightnav .menu a:hover .cls-3, .rightnav .menu a:hover svg, .rightnav .menu a:hover svg g, .rightnav .menu a.on .cls-1, .rightnav .menu a.on .cls-3, .rightnav .menu a.on svg, .rightnav .menu a.on svg g {
  fill: #E24C6A !important;
}
.rightnav .menu a.tableau {
  border-top: 1px solid #EFF0F3;
  border-color: #EFF0F3;
}
.rightnav .menu a.tableau:hover, .rightnav .menu a.tableau.on {
  border-color: #E24C6A;
}
.rightnav .menu .label {
  width: 8rem;
}
.rightnav .menu .logo {
  width: 4rem;
}

#flechemenu {
  width: 4rem;
  transform: rotate(90deg);
  cursor: pointer;
}
#flechemenu svg {
  width: 34px;
  height: 34px;
}
#flechemenu svg .cls-1, #flechemenu svg .cls-3 {
  fill: #EFF0F3;
}

/*** Aide en ligne ***/
.bloc-aide {
  background: #EFF0F3;
  border-bottom-left-radius: 0 !important;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  min-width: 40rem;
  max-width: 50%;
  font-size: 0.8rem;
}
.bloc-aide .texte-container {
  overflow-y: scroll;
  height: 100%;
}

.fermer {
  color: #E24C6A;
  cursor: pointer;
}
.fermer svg {
  height: 30px;
  width: 30px;
}

.spip_documents {
  margin-bottom: 0.8rem;
  display: block;
}

.spip_documents_center {
  margin: auto;
  text-align: center;
}

.spip_documents_right {
  margin-left: 1rem;
}

.spip_documents_left {
  margin-right: 1rem;
}

/*** Tableaux de bord ***/
.tableau-container {
  padding-right: 5rem !important;
}

/*** Slider ***/
.ui-widget.ui-widget-content {
  border: 3px solid #5B6870 !important;
  height: 0;
  box-shadow: 2px 2px 5px 0 #FFFFFF;
}

.ui-slider-horizontal .ui-slider-range {
  top: -3px !important;
  border: 3px solid #E24C6A !important;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -0.65em !important;
  border-radius: 47px;
}

/*** Checkboxes ***/
.checkbox-slider--b input + span::after, .checkbox-slider--b-flat input + span::after {
  background: #EFF0F3;
  width: 26px;
  border-radius: 21px;
}

.checkbox-slider--b input:checked + span::after, .checkbox-slider--b-flat input:checked + span::after {
  margin-left: 14px;
  animation: none;
}

.checkbox-slider--b input + span::before {
  box-shadow: 5px 5px 10px 0 #BBC0C5, -5px -5px 10px 0 #FFFFFF, inset -2px -2px 5px 0 #FEFEFE, inset 2px 2px 5px 0 #BBC0C5;
  background: #EDEEF2;
}

.checkbox-slider--b input:checked + span::before, .checkbox-slider--b-flat input:checked + span::before {
  box-shadow: 5px 5px 10px 0 #BBC0C5, -5px -5px 10px 0 #FFFFFF, inset -2px -2px 8px 0 #5B6870, inset 2px 2px 8px 0 #5B6870;
}

.checkbox-slider--b input:not(:checked) + span::after, .checkbox-slider--b-flat input:not(:checked) + span::after {
  animation: none;
  border: 2px solid #e6e8ec;
}

.checkbox-slider--b input:not(:checked) + span {
  color: #90989f;
}

.checkbox-slider--b input[type=checkbox]:focus + ::before {
  outline: none;
}

.checkbox-slider--b input + span, .checkbox-slider--b-flat input + span, .checkbox-slider--c input + span, .checkbox-slider--c-weight input + span {
  padding-left: 30px;
}

/*** Radio buttons ***/
[type=radio]:checked,
[type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type=radio]:checked + label,
[type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
  min-height: 30px;
  line-height: 24px;
}

[type=radio]:checked + label:before,
[type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

[type=radio]:checked + label:after,
[type=radio]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #EFF0F3;
}

[type=radio]:not(:checked) + label:after {
  border: 1px solid #6B777E;
}

[type=radio]:checked + label:after {
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: inset -3px -3px 8px 0 #FAFBFF, inset 3px 3px 8px 0 #ABB1B7;
}

[type=radio].representation + label:after, [type=radio].representation + label:before {
  display: none;
}
[type=radio].representation + label {
  padding-left: 0.5rem;
}
[type=radio].representation:checked + label .cls-1, [type=radio].representation:checked + label .cls3 {
  stroke: white;
  fill: white;
}

/*** Login ***/
.formulaire_login_public .checkbox-slider--b {
  width: 260px;
}
.formulaire_login_public .checkbox-slider--b input + span {
  padding-left: 5px;
}

/*** Administration ***/
.input-group-text img {
  height: 20px;
  width: 20px;
}

#list_indicateurs .list, #list_utilisateurs .list, #list_biblio .list, #list_selected .list {
  line-height: 1;
}
#list_indicateurs .list li, #list_utilisateurs .list li, #list_biblio .list li, #list_selected .list li {
  border: 1px solid rgba(255, 255, 255, 0.56);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
#list_indicateurs .list li:nth-child(even), #list_utilisateurs .list li:nth-child(even), #list_biblio .list li:nth-child(even), #list_selected .list li:nth-child(even) {
  background: #f2f3f5;
}
#list_indicateurs .list li:hover, #list_utilisateurs .list li:hover, #list_biblio .list li:hover, #list_selected .list li:hover {
  background: #e6e8ec;
}
#list_indicateurs .list .actions svg, #list_utilisateurs .list .actions svg, #list_biblio .list .actions svg, #list_selected .list .actions svg {
  width: 24px;
  height: 24px;
}
#list_indicateurs .list .cls-1, #list_utilisateurs .list .cls-1, #list_biblio .list .cls-1, #list_selected .list .cls-1 {
  fill: #6B777E;
}
#list_indicateurs .list .suppr .cls-1, #list_utilisateurs .list .suppr .cls-1, #list_biblio .list .suppr .cls-1, #list_selected .list .suppr .cls-1 {
  fill: #E24C6A;
}

/*** Formulaire d'attribution des indicateurs ***/
.remove, .add {
  font-size: 1.2rem;
}
.remove :hover, .add :hover {
  text-decoration: none;
}

/*** Formulaire d'upload des données ***/
/*** Créatio et Modification d'indicateur ***/
.etape_modif svg {
  height: 2rem;
  width: 2rem;
}
.formulaire_creerindicateur .form-check, .formulaire_modifierindicateur .form-check {
  min-height: 30px;
  margin-bottom: 0.5rem;
}
.formulaire_creerindicateur .form-check-label, .formulaire_modifierindicateur .form-check-label {
  line-height: 1;
}
.formulaire_creerindicateur .liste_mots, .formulaire_modifierindicateur .liste_mots {
  border-radius: 17px;
}

.choix_picto svg {
  height: 80px;
  width: 80px;
}
.choix_picto svg, .choix_picto .cls-1, .choix_picto .cls-3 {
  fill: #6B777E;
}
.choix_picto .selected svg, .choix_picto .selected .cls-1, .choix_picto .selected .cls-3 {
  fill: #E24C6A;
}
.choix_picto .item_picto {
  border-radius: 21px;
  cursor: pointer;
}
/*** Espace utilisateurs ***/
.logo_auteur {
  top: 0;
  left: 0;
  z-index: 10000;
  right: auto;
  bottom: auto;
  padding: 0.75rem 0.75rem 0.75rem 1rem;
  border-radius: 0 47px 47px 0;
  background: #EFF0F3;
}
.logo_auteur div {
  border-radius: 47px;
  overflow: hidden;
  z-index: 10001;
  padding: 1rem;
}
.logo_auteur div img {
  z-index: 10000;
}

/*** Tableau de bord : sortable ***/
.mover {
  cursor: grab;
}

.ui-sortable-helper {
  z-index: 20000 !important;
}
.ui-sortable-helper .mover {
  cursor: grabbing;
}

.box-place {
  background: #e9ebef;
  border-radius: 17px;
}

/*** indicateurs ***/
.box-indicateur, textarea.form-control, #list_indicateurs .list, #list_utilisateurs .list, #list_biblio .list, #list_selected .list {
  background: #EFF0F3;
  border-radius: 17px;
}
.box-indicateur h6, textarea.form-control h6, #list_indicateurs .list h6, #list_utilisateurs .list h6, #list_biblio .list h6, #list_selected .list h6 {
  height: 2.2rem;
  overflow: hidden;
  font-size: 0.8em;
}
.box-indicateur .thematiques, textarea.form-control .thematiques, #list_indicateurs .list .thematiques, #list_utilisateurs .list .thematiques, #list_biblio .list .thematiques, #list_selected .list .thematiques {
  top: 1px;
  left: 1px;
}
.box-indicateur a h6, textarea.form-control a h6, #list_indicateurs .list a h6, #list_utilisateurs .list a h6, #list_biblio .list a h6, #list_selected .list a h6 {
  color: #2B3C45;
}
.box-indicateur .box-info, textarea.form-control .box-info, #list_indicateurs .list .box-info, #list_utilisateurs .list .box-info, #list_biblio .list .box-info, #list_selected .list .box-info {
  display: none;
  z-index: 999;
  border-radius: 17px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.box-indicateur .box-info p, textarea.form-control .box-info p, #list_indicateurs .list .box-info p, #list_utilisateurs .list .box-info p, #list_biblio .list .box-info p, #list_selected .list .box-info p {
  font-size: 0.8rem;
}
.box-indicateur .lieu, textarea.form-control .lieu, #list_indicateurs .list .lieu, #list_utilisateurs .list .lieu, #list_biblio .list .lieu, #list_selected .list .lieu {
  height: 23px;
  overflow: hidden;
}

.tendancespot {
  height: 17px;
  overflow: hidden;
  font-size: 0.7rem;
  text-align: center;
  margin-top: -4px;
  color: #6A7075;
}
.tendancespot i {
  height: 10px;
  width: 1px;
  border-left: 2px dotted #eee;
  transform: rotate(18deg);
}

.btn-thematique {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
}
.btn-thematique svg path, .btn-thematique svg line, .btn-thematique svg .cls-1, .btn-thematique svg .cls-7, .btn-thematique svg .cls-5, .btn-thematique svg .cls-6, .btn-thematique svg .cls-4 {
  fill: #6B777E;
  clip-path: none;
}

.pt-thematique {
  padding-top: 2.2rem !important;
}

.map {
  border-radius: 5px;
}

.leaflet-container {
  font-family: "Krub", sans-serif;
}

.leaflet-touch .leaflet-bar, .leaflet-bottom .legend_carto {
  margin: 5px;
  border: 0;
  border-radius: 5px;
}

.leaflet-touch .leaflet-bar a {
  width: 16px;
  height: 16px;
  line-height: 16px;
}

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
  font-size: 12px;
}

.leaflet-container .leaflet-control-attribution {
  background: #EFF0F3;
  font-size: 0.5rem;
}

.leaflet-container .leaflet-control-attribution a {
  color: #2B3C45;
}

.leaflet-tooltip {
  background-color: #2B3C45;
  border: 0;
  font-size: 0.6rem;
  color: #EFF0F3;
}

.leaflet-popup-tip {
  background: red !important;
  color: red !important;
}

.leaflet-bottom .legend_carto {
  margin-right: 10px;
  font-size: 0.6rem;
}
.leaflet-bottom .legend_carto .carre {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background: white;
}
.leaflet-bottom .legend_carto span {
  font-size: 0.5rem;
  color: #6B777E;
}

.box-actions {
  z-index: 1000;
  right: -15px;
  border-radius: 25.5px;
}
.box-actions.box-top {
  top: 0;
}
.box-actions.box-bottom {
  bottom: 0;
}
.box-actions svg {
  height: 20px;
  width: 20px;
}
.box-actions .cls-1 {
  fill: #5B6870;
}
.box-actions a {
  color: #5B6870;
  text-decoration: none;
  border-bottom: 1px solid rgba(187, 192, 197, 0.55);
  font-size: 20px;
  line-height: 1.1;
}
.box-actions a:last-child {
  border-radius: 0 0 25.5px 25.5px;
  border: 0;
}
.box-actions a:first-child, .box-actions a.prem {
  border-radius: 25.5px 25.5px 0 0;
  border-bottom: 1px solid rgba(187, 192, 197, 0.55);
}
.box-actions .autres-actions {
  border-top: 1px solid rgba(187, 192, 197, 0.55);
  cursor: pointer;
}
.box-actions .autres-actions div {
  display: none;
  border-bottom: 1px solid rgba(187, 192, 197, 0.55);
}
.box-actions .autres-actions a:first-child, .box-actions .autres-actions div a:last-child {
  border-radius: 0;
}
.box-actions a:hover, .box-actions a.oui {
  color: #EFF0F3;
}
.box-actions a:hover .cls-1, .box-actions a.oui .cls-1 {
  fill: #EFF0F3;
}

/*** .page_indicateur ***/
.cartouche svg {
  height: 30px;
  width: 30px;
}
.cartouche svg .cls-1 {
  fill: #5B6870;
}
.cartouche .thematiques svg {
  height: 20px;
  width: 20px;
}

.page_indicateur h3 svg {
  height: 40px;
  width: 40px;
}
.page_indicateur h3 svg .cls-1 {
  fill: #5B6870;
}

.formulaire_spip .btn svg {
  height: 30px;
  width: 30px;
}

/** Ajustements pour téléphones et tablettes **/
@media screen and (max-width: 991px) {
  .tableau-container {
    padding-right: 2rem !important;
  }

  .container {
    padding: 0 !important;
  }
}
#mobileNav {
  background: #6B777E;
}
#mobileNav a {
  color: #EFF0F3;
}
#mobileNav svg {
  height: 25px;
  width: 25px;
}
#mobileNav .cls-1, #mobileNav .cls-3 {
  fill: #EFF0F3;
}
#mobileNav .active a {
  color: #E24C6A;
}
#mobileNav .active .cls-1, #mobileNav .active .cls-3 {
  fill: #E24C6A;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.bg-light {
  background: #EFF0F3 !important;
}

/*# sourceMappingURL=artaclim.css.map */
