//COULEURS

$bleu-ciel : #3F9FD2;
$rose-sombre : #E24C6A;
$carotte : #F4C84E;
$violet : #A269A4;
$vert : #A0B948;
$vert-de-gris : #43AAAD;
$charbon : #2B3C45;
$gris-metal : #6B777E;
$blanc-anti-eclat: #EFF0F3;
$blanc : #ffffff;

$charbon-attenue: #5B6870;
$charbon-xlight: #8B949B;

$blanc-sombre:#ABB1B7;
$blanc-assombri:#BBC0C5;

$police: 'Krub', sans-serif;

$largeur-bouton-checkbox:26px;
$radius-bouton-checkbox:21px;

$border-radius: 47px;
$border-radius-sm:21px;

$taille-icones:24px;
$padding-icones:0.5rem;
$font-size-base: 0.9rem;
